.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list li{
    padding: 20px;
}

.header-menu{
    display: flex;
}

.logo > img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-menu{
    display: flex;
    color: dodgerblue;
    font-size: 17px;
    font-weight: 700;
}

.right-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-menu > div{
    margin-right: 20px;
}