.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button{
    display: flex;
    justify-content: flex-end;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list > li{
    padding: 20px;
}

.header-menu{
    display: flex;
}

.right-menu{
    display: flex;
    color: dodgerblue;
    font-size: 17px;
    font-weight: 700;
}